<!DOCTYPE html>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Sentimental Politics</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/foundation.min.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/app.css" />
    <link rel="stylesheet" href="../static/css/jqcloud.min.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/jqcloud.min.js"></script>

    <!-- Google fonts -->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div class="row page_wrap">
      <!-- page wrap -->
      <div class="twelve columns">
        <!-- page wrap -->
        <div class="row hide-for-small">
          <div class="twelve columns">
            <div class="heading_dots">
              <h1 class="heading_supersize" style="margin-bottom:10px">
                <span class="heading_center_bg">Sentimental Politics</span>
              </h1>
            </div>
            <div class="subheader">
              <h3>
                A sentiment analysis of the top democratic candidates through
                Twitter.
              </h3>
            </div>
          </div>
        </div>
        <!-- end row -->
        <hr />

        <div id="container">
          <div class="box photo col2" id="biden-box">
            <a href="#"
              ><img width="256" alt="Joe Biden" src="../static/images/biden.jpg"
            /></a>
            <h3 style="text-align:center"><strong>Joe Biden</strong></h3>
            <p style="text-align:center">
              <a href="#visualizations" class="button small radius" id="biden-button"
                >Sentiment on Joe &raquo;</a
              >
            </p>
          </div>
          <div class="box photo col2" id="sanders-box">
            <a href="#"
              ><img
                width="256"
                alt="Bernie Sanders"
                src="../static/images/sanders.jpg"
            /></a>
            <h3 style="text-align:center"><strong>Bernie Sanders</strong></h3>
            <p style="text-align:center">
              <a href="#visualizations" class="button small radius" id="sanders-button"
                >Sentiment on Bernie &raquo;</a
              >
            </p>
          </div>
          <div class="box photo col2" id="warren-box">
            <a href="#"
              ><img
                width="256"
                alt="Elizabeth Warren"
                src="../static/images/warren.jpg"
            /></a>
            <h3 style="text-align:center"><strong>Elizabeth Warren</strong></h3>
            <p style="text-align:center">
              <a href="#visualizations" class="button small radius" id="warren-button"
                >Sentiment on Liz &raquo;</a
              >
            </p>
          </div>
          <div class="box photo col2" id="harris-box">
            <a href="#"
              ><img
                width="256"
                alt="Kamala Harris"
                src="../static/images/harris.jpg"
            /></a>
            <h3 style="text-align:center"><strong>Kamala Harris</strong></h3>
            <p style="text-align:center">
              <a href="#visualizations" class="button small radius" id="harris-button"
                >Sentiment on Kamala &raquo;</a
              >
            </p>
          </div>
        </div>

        <!-- end container -->
                  

        <hr />
        <div class="container" id="visualizations">
          <div class="row">
              <div class="twelve columns">
                <div id="cloud"></div>
              </div>
            </div>
            <hr />
          <!-- end row -->
          <div class="row">
            <div class="five columns">
                <h4 style="text-align:center">Overall Sentiment for Week</h4>
              <div id="gauge"></div>
            </div>

            <div class="seven columns">
                <h4 style="text-align:center">Positive v. Negative Sentiment over Week</h4>
              <div id="bar"></div>
            </div>
          </div>

          <!-- end row -->

          <!-- <hr />
          <div class="row" style="padding-top: 20px">
            <div class="four columns">
              <div id="pie">Comparison chart here?</div>
            </div>

            <div class="four columns">
              <div id="line">Comparison chart here?</div>
            </div>

            <div class="four columns">
              <div id="line">Comparison chart here?</div>
            </div>
          </div>
        </div> -->
        <!-- end row -->
        <hr />
      </div>
    </div>
    <!-- end page wrap) -->
    <!-- JS Files -->
    <!-- <script src="../static/js/modernizr.foundation.js"></script> -->
    <!-- <script src="../static/js/foundation.min.js"></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="../static/js/cloud2.js"></script> -->
    <!-- <script src="../static/js/app.js"></script> -->
    <script src="../static/js/sentiment.js"></script>
  </body>
</html>
